@use "../../global" as global;

.u-frame{
  @include global.min-screen(global.$bp_tb_v){
    max-width: calc(100% - #{global.sizeCalc(200, global.$w, 'vw')});
    margin-right: auto;
    margin-left: auto;
  }

  @include global.min-screen(global.$bp_base){
    max-width:#{global.$frame_w}px;
  }
}

.u-noscroll{
  overflow: hidden;
  height:100%;
}

.u-overflowHidden {
  overflow: hidden;
}

.u-noevent{
  pointer-events:none;
}

.u-exSp {
  display: none;
  @include global.min-screen(global.$bp_tb_v){
    display: block;
  }
}

.u-sp{
  @include global.min-screen(global.$bp_tb_v){
    display: none;
  }
}

.u-preload{
  * {
    transition: none !important;
  }
}

.u-preline{
  white-space: pre-line;
}
