@use "global" as *;

.c-menuBtn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: vw-size-sp(90);
  height: vw-size-sp(90);
  background: #111;
  @include responsive(md) {
    display: none;
  }
  @include responsive(xl) {
  }

  &::before,
  &::after{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 50%;
    height: 2px;
    margin: auto;;
    background: #fff;
    transition: $transition;
    transition-property: opacity, transform;
  }

  &::before{
    transform:translateY(-3px);

    .is-menu-active & {
      transform: rotate(-45deg);
    }
  }

  &::after{
    transform:translateY(3px);

    .is-menu-active & {
      transform: rotate(45deg);
    }
  }
}