.p-hero{
  position: relative;

  @include min-screen($bp_sp_h){
  }

  @include min-screen($bp_tb_v){
  }

  @include min-screen($bp_tb_h){
  }

  @include min-screen($bp_base){
  }

}

.p-hero-visual{
  height:50vh;
  background: #000;

  @include min-screen($bp_sp_h){
    height: sizeCalc(600, $w, 'vw');
  }

  @include min-screen($bp_tb_v){
  }

  @include min-screen($bp_tb_h){
  }

  @include min-screen($bp_base){
    height:600px;
  }
}

.p-hero-visual-pic{
  opacity:.7;
  width:100%;
  height:100%;
  object-fit:cover;
  font-family: 'object-fit:cover;';
}

.p-hero-title{
  position: absolute;
  top:50%;
  z-index: 10;
  width:100%;
  padding:0 sizeCalc(30, $w_sp, 'vw');
  text-align: right;
  font-size: sizeCalc(72, $w_sp, 'vw');
  font-weight: 900;
  color: #fff;
  transform:translateY(-50%);

  @include min-screen($bp_sp_h){
    margin:auto;
    right:0;
    left:0;
    padding:0;
    font-size: sizeCalc(72, $w, 'vw');
  }

  @include min-screen($bp_tb_v){
  }

  @include min-screen($bp_tb_h){
  }

  @include min-screen($bp_base){
    @include fz(72);
  }
}

