@use "sass:color";
@use "global" as *;

html {
  min-height: 100vh;
  touch-action: manipulation;
  text-rendering: optimizeSpeed;

  &.is-menu-active {
    overflow: hidden;
    touch-action: none;
    @include responsive(md) {
      overflow: initial;
      touch-action: initial;
    }
    @include responsive(xl) {
    }
  }
}

body {
  min-height: 100vh;
  font-size: max(vw-size-sp(24), 12px);
  font-family: $font-family;
  font-weight: 400;
  font-kerning: normal;
  color: $black;
  background: $bg-color;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  text-rendering: optimizeSpeed;
  @include responsive(md) {
    font-size: vw-size-pc(12);
  }
  @include responsive(xxl) {
    font-size: 12px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media screen\0 {
    font-family: $ie-font;
  }
}

a {
  text-decoration: none;
  color: currentColor;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media (any-hover: hover) {
    transition: $transition;
  }

  &[href^="tel"] {
    @include min-screen($bp_tb_v) {
      pointer-events: none;
      cursor: default;
    }
  }

  img {
    @media (any-hover: hover) {
      transition: $transition;
    }
  }
}

input,
select,
textarea,
button {
  cursor: pointer;
  appearance: none;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  color: currentColor;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  transition: $transition;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @include placeholder {
    font-family: $font-family;
  }

  &:disabled {
    cursor: default;
  }

  @media screen\0 {
    font-family: $ie-font;
  }
}

input,
select,
textarea {
  line-height: 1.6;
}

select::-ms-expand {
  display: none;
}

img {
  user-select: none;
  max-width: 100%;
  height: auto;
  backface-visibility: hidden;
}

picture {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transform-box: fill-box;
  path,
  rect,
  circle,
  polygon {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    backface-visibility: hidden;
  }
}

mark {
  background: linear-gradient(transparent 50%, $yellow 50%);
}

// ::selection {
//   @media (any-hover:hover) {
//     background: rgba($key-color, 0.8);
//     color: #fff;
//   }
// }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
