@use "global" as *;

.l-header {
  @include responsive(md) {
  }
  @include responsive(xl) {
  }
}

.l-header__inner {
  @include responsive(md) {
  }
  @include responsive(xl) {
  }
}

.l-header__logo {
  width: vw-size-sp(420);
  @include responsive(md) {
    width: vw-size-pc(360);
  }
  @include responsive(xl) {
    width: 360px;
  }
}

.l-header__menu {
  @include responsive(md) {
  }
  @include responsive(xl) {
  }
}
